{% extends 'base.html.twig' %}
{% block title %}
    Danie
{% endblock %}
 {% block body %}
     <div >
         <h1>{{ recipes.getNameRecipe() }}</h1>
         Składniki potrzebne do przygotowania:
         <ul>
             {% for ingredient in ingredients %}
                 <li>{{ ingredient.getNameIngredient() }}</li>
             {% endfor %}
         </ul>
         Przygotowanie: <br>
         {{ recipes.getDescription() }}
     </div>

 {% endblock %}