{% extends 'base.html.twig' %}
{% block title %}
    Start
{% endblock %}
 {% block body %}
     <div >
         PRZEPISY
         <ul>
             {% for recipe in recipes %}
                 <li><a href="{{ path('dish', {"param" : recipe.getId() }) }}">{{ recipe.getNameRecipe() }}</a></li>
             {% endfor %}
         </ul>
         <form action="/php/csv.php" method="get">
             <input type="submit" name="przycisk" value="Dodaj">
         </form>
     </div>

 {% endblock %}